
.projects-div {
  display: flex;
  flex-direction: row;
}

.hidden {
  display: none;
  visibility: hidden;
}

.progress {
  position: fixed;
  left: 2vw;
  right: 2vw;
  bottom: 1rem;
  height: 5px;
  background: #ffffff;
}


.hidden {
  display: none;
}

.scroll-down {
  position: absolute;
  bottom: 2rem;
  text-align: center;
  width: 100%;
}


.project-name {
  margin: 0;
}

.project-section {
  height: 100vh;
  display: flex;
  align-items: top;
  justify-content: center;
  position: relative;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 2vh;
}


.intro-header-section {
  height: 100vh;
  display: flex;
  padding-left: 4vw;
  padding-right: 4vw;
  position: relative;
}

.image-div {
  width: 74vw;
  aspect-ratio: 1140/700;
  position: relative;
  max-height: 90vh;
  overflow: hidden;
  object-fit: cover;
}


html {
  scroll-snap-type: y mandatory;
}


@media only screen and (max-width: 768px) {
  .image-div {
        width: 50vw;
        aspect-ratio: 3/4;
  }

  .project-text-area {
    position: relative;
    left: 0;
    top: calc(15vh);
    row-gap: 0rem;
    width: 92vw;
    row-gap: 0.6rem;
    text-align: center;
  }

  .tag-section {
    justify-content: center;
  }


  .project-section {
    flex-direction: column;
    justify-content: center;
  }

  .project-name {
    font-size: 1.5rem;
  }
  
  .project-skill {
    font-size: 1rem;
  }
}