

.scroll-container {
  position: absolute;
  overflow: auto;
  top: 0px;
  width: 100%;
  height: 100vh;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.canvas {
  position: absolute;
  top: 0;
}