@font-face{
    font-family: 'inter-semibold';
    src : url('../Assets/Fonts/Inter-SemiBold.ttf');
}

#dev-work-div {
    max-width: 800px;
    width: 90%;
    margin: auto;
    margin-top: 60px;
}

.title-color {
    color: #ffffff;

}

.title-size {
    font-family: 'oswald-bold';
    font-size: 28px;
    margin-top: 48px;
    margin-bottom: 0px;
}

.extra-title-size {
    font-family: 'oswald-bold';
    font-size: 36px;
}


.body-color {
    color: #eeeeee;

}

.sub-title-size {
    font-family: 'inter-semibold';
    font-size: 20px;
}

.sub-body-color {
    color: #cccccc;
}

.body-size {
    font-family: 'inter-regular';
    font-size: 16px;
    margin-top: 20px;
}

#dev-project-name {
    margin: 0px;
}

#dev-timeline {
    margin-top: 12px;
}

#divide-line {
    margin-top: 32px;
    border: 0.5px solid #999999;;
}

#develop-github {
    margin-top: 24px;
    max-width: 200px;
    padding-top: 16px;
    padding-bottom: 16px;
    border: #ffffff 1.5px solid;
    text-align: center;
    color: #eeeeee;
    font-family: 'inter-bold';
    margin-bottom: 8px;
    font-size: 12px;
}

#develop-github:hover {
    color: #000000;
    background-color: #eeeeee;
}

#qqmusic-feedback {
    margin-top: 20px;
    width: 100%;
}

#qqmusic-team {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 16px;
}

#qqmusic-team-img {
    width: 100%;
    margin-top: 20px;
}