@font-face{
    font-family: 'oswald-bold';
    src : url('../Assets/Fonts/Oswald-Bold.ttf');
}

@font-face{
    font-family: 'oswald-regular';
    src : url('../Assets/Fonts/Oswald-Regular.ttf');
}

#filter-div {
    background-color: #212121;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    list-style-type: none;
}

.unSelectedTag {
    width: 50%;
    color: #dddddd;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: 'oswald-regular';
}

.selectedTag {
    width: 50%;
    color: #000000;
    background-color: #eeeeee;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: 'oswald-bold';
}