@font-face{
    font-family: 'inter-bold';
    src : url('../Assets/Fonts/Inter-Bold.ttf');
}

@font-face{
    font-family: 'inter-regular';
    src : url('../Assets/Fonts/Inter-Regular.ttf');
}

#full-cover-project-div {
    width: 100%;
    margin-top: 20px;
    
}

#full-cover-project-text {
    margin-left: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#full-cover-more-than-768 {
    width: 100%;
    aspect-ratio: 10/6;
    display: flex;
    align-items: center;
}

.role {
    color: #eeeeee;
    font-family: 'inter-bold';
    margin-bottom: 12px;
    font-size: 12px;
}

.role-1 {
    color: #121212;
    font-family: 'inter-bold';
    margin-bottom: 12px;
    font-size: 12px;
}

#title {
    margin-bottom: 12px;
}

#project-name {
    color: #ffffff;
    font-family: 'inter-bold';
    font-size: 28px;
}

#project-name-1 {
    color: #000000;
    font-family: 'inter-bold';
    font-size: 28px;
}

.type {
    color: #eeeeee;
    font-family: 'inter-bold';
    font-size: 16px;
}

.type-1 {
    color: #000000;
    font-family: 'inter-bold';
    font-size: 16px;
}

#description {
    color: #eeeeee;
    font-family: 'inter-regular';
    margin-bottom: 8px;
    font-size: 16px;
    max-width: 300px;
    margin-bottom: 20px;
}

#description-1 {
    color: #121212;
    font-family: 'inter-regular';
    margin-bottom: 8px;
    font-size: 16px;
    max-width: 300px;
    margin-bottom: 20px;
}

#view-project {
    max-width: 200px;
    padding-top: 16px;
    padding-bottom: 16px;
    border: #ffffff 2.5px solid;
    text-align: center;
    color: #eeeeee;
    font-family: 'inter-bold';
    margin-bottom: 8px;
    font-size: 12px;
}

#view-project:hover {
    background-color: #ffffff;
    color: #000000;
}

#view-project-1 {
    max-width: 200px;
    padding-top: 16px;
    padding-bottom: 16px;
    border: #000000 2.5px solid;
    text-align: center;
    color: #000000;
    font-family: 'inter-bold';
    margin-bottom: 8px;
    font-size: 12px;
}

#view-project-1:hover {
    background-color: #000000;
    color: #ffffff;
}


#full-cover-less-than-768 {
    aspect-ratio: 10/6;
    margin-top: 20px;
    display: none;
    align-items: center;
    flex-direction: column;
    background-color: #212121;
}

@media only screen and (max-width: 768px) {
    #full-cover-more-than-768 {
        display: none;
    }

    #full-cover-less-than-768 {
        display: flex;
    }
}