

#header-div {
    background-color: #212121;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 99;
}

.header-logo {
    width: 40px;
    height: 44px;
}

.navDiv {
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.navDiv a {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
}

.navItem {
    list-style-type: none;
    text-align: center;
}

.selected {
    font-family: 'oswald-bold';
    opacity: 1;
}

.unSelected {
    font-family: 'oswald-regular';
    opacity: 0.7;
}

.unSelected:hover {
    font-family: 'oswald-regular';
    opacity: 0.95;
}

@media only screen and (max-width: 480px) {

    .navDiv a {
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .header-logo {
        width: 30px;
        height: 33px;
        display: none;
    }

}