@font-face{
    font-family: 'oswald-bold';
    src : url('../Assets/Fonts/Oswald-Bold.ttf');
}

@font-face{
    font-family: 'oswald-regular';
    src : url('../Assets/Fonts/Oswald-Regular.ttf');
}

@font-face{
    font-family: 'instagram-sans';
    src : url('../Assets/Fonts/Instagram-Sans.ttf');
}

.self-div {
    height: 92vh;
    position: relative;
}

#self-intro-div {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    padding-top: 6rem;
}

#self-image-div-out {
    width: 28%;
    padding-left: 30px;
    min-width: 150px;
    margin-left: auto;
    margin-right: auto;
}

#self-image-div-in {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 30px #ffffff;
    opacity: 95%;
}

#self-intro-image {
    width: 70%;
    height: 70%;
    padding-bottom: 100%;
    position: absolute;
    top: 15%;
    left: 15%;
}

#self-image-div-out:hover {
    transform: rotate(10deg);
    transition: 1s;
}

#self-text {
    width: 64%;
    margin-top: auto;
    margin-bottom: auto;
}

#intro-title {
    color: white;
    font-size: 3rem;
    font-family: 'instagram-sans';
    letter-spacing: 0.5px;
    margin-top: 0px;
    margin-bottom: 12px;
}

#intro-title span {
    color: #dddddd;
    font-family: 'instagram-sans';
}

.intro-text {
    color: #dddddd;
    font-size: 20px;
    font-family: 'instagram-sans';
    letter-spacing: 0.5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.intro-text a {
    font-size: 20px;
    color: white;
    font-family: 'instagram-sans';
    letter-spacing: 0.5px;
}

.intro-text a:hover {
    color: #dddddd;
}

#first-past-experience {
    margin-top: 20px;
}

.past-experience-div {
    display: flex;
    margin-bottom: 16px;
}

.past-experience-img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.down-arrow-div {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10%;
}

.down-arrow {
    width: 5rem;
    height: 5rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

@media only screen and (max-width: 800px) {
    #self-intro-div {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    #self-image-div-out {
        padding-left: 0px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }


    #intro-title {
        font-size: 20px;
    }

    .intro-text {
        font-size: 16px;
    }

    .intro-text a {
        font-size: 16px;
    }
}